/* color */
$color-text-focus: #1F2D3D;
$color-primary: #FF751D;
$color-default: #6A8094;
$color-bg-default: #F0F0F0;
$color-text-primary: #384047;
$color-text-default: #9FAFC1;
$color-hover: #FBFCFD;
$color-blue: #5E9FFF;
$color-red: #FF3A50;
$color-border: #E6EBF0;

/*distant*/
$distant0: 12px;
$distant: 16px;
$distant1: 24px;
$distant2: 32px;
